body {
  margin: 0;

}

header {
  margin: 0;
}

h1,
h2,
h3,
p,
a {
  font-family: Arial, Helvetica, sans-serif;
}



.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24
}